.modalContainer {
    position: relative;

    > span {
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
        font-weight: bold;
        opacity: 70%;
    }
}

.modalContent {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    .pokemonImg {
        flex: 50%;
        max-height: 250px;
        max-width: 250px;
        margin: auto;
        
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .statsContainer {
        flex: 50%;
        width: 100%;
        padding: 1rem;
    }
}

.name {
    display: flex;
    align-items: center;

    span {
        font-size: 1.5rem;
        margin-left: 1rem;
        font-weight: bold;
        opacity: 70%;
    }
}

.loadingContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;

    .loading {
        position: absolute;
        left: 0;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        background-color: #6ecec6;
    }
}

