.cardContainer {
    width: 100%;
    padding: 1rem;
    margin: 5rem 0;

    h2 {
        text-align: center;
        margin-bottom: 15px;
    }
}

.cardGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 12px;
}

.modal {
    width: 90%;
    max-width: 40rem;
    max-height: 35rem;
    background-color: #F6F8FC;
    border-radius: 0.5rem;
    overflow-y: auto;
}

.modalOverlay {
    background: #00000067;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}