.searchField {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 1rem;

    input {
        width: 70%;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        padding: 4px 8px;
        font-size: 1.1rem;
    }
}