.banner {
    text-align: center;
    margin: 4rem 0 4rem;

    @media (min-width: 500px) {
        h1 {
           font-size: 2rem;
        }
    }

    @media (min-width: 600px) {
        h1 {
           font-size: 2.5rem;
        }
    }

    @media (min-width: 800px) {
        h1 {
           font-size: 3rem;
        }
    }

    // img {
    //     width: 80%;
    // }
}